.city {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
}

.city img {
    width: 310px;
   
    padding-bottom: 5em;
}

.city span {
    color: grey;
}

.cityName {
    height: 50px;
}

.cityBtn {
    position:relative;
    top: 3em;
    background: rgba(50, 50, 50, .9);
    border: none;
}