 #headWrap {
      display: flex;
      justify-content: space-between;
      font-family: 'Kaushan Script', cursive;
      font-size: 15px;
      height: 60px;
      color: burlywood; 
      
 } 
 
 

nav a {
      display: inline-block;
      padding: 20px;
}

li {
      list-style: none;
}

a:link {
      text-decoration: none; 
}

#navwrap{
    display: flex;
    flex-direction: row;

}

header {
    height: 30px;

}